<div id="container-profile" class="spt container">
    <div id="profile-left">
        <div id="container-avatar" class="neumorph-sec">
            <img src="{{userData.avatar}}" />
        </div>
        <div id="container-options">
            <a id="show-purchases" ng-click = "giveUserPurchases()" class="neumorph-child">Purchases</a>
            <a id="show-favs" ng-click = "giveUserFavs()" class="neumorph-child" style="margin-top: 20px;">Favorite Products</a>
        </div>
    </div>
    <div id="profile-right">
        <div id="userData" ng-show = "showUserData">
            <div id="container-username" class="neumorph-child">
                <a>Username</a>
                <span>{{userData.username}}</span>
            </div>
            <div id="container-username" class="neumorph-child" style="margin-top: 20px;">
                <a>Email</a>
                <span>{{userData.email}}</span>
            </div>
            <div id="container-username" class="neumorph-child" style="margin-top: 20px;">
                <a>Register Date</a>
                <span>{{userData.registerDate}}</span>
            </div>
            <div id="modify-profile">
                <a class="neumorph-btn" ng-click = "deleteAccount()" style="margin-top: 100px">Delete Account</a>
            </div>
        </div>
        <div id="container-userActions" ng-show = "!showUserData">
            <div style="display: flex; margin-bottom: 40px; border-bottom: 1px solid #FFF;">
                <div ng-click = "backToStart()" style="flex: 50%; max-width: 50px; margin-right: 50px">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left"
                        class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                        </path>
                    </svg>
                </div>
                <h2 style = "flex: 50%">Favorites</h2>
            </div>
            <div id = "data-favs" ng-show = "showUserFavs">
                <div ng-repeat = "data in userFavs" class = "fav-cars" style = "display: block">
                    <product-article image = "{{data.image}}" brand = "{{data.brand}}" model = "{{data.model}}" carplate = "{{data.carPlate}}"></product-article>
                </div>
            </div>
             <div id = "data-favs" ng-show = "showUserPurchases">
                <div ng-repeat = "data in userPurchases" class = "purchase-cars" style = "display: block">
                    <product-article image = "{{data.image}}" brand = "{{data.brand}}" model = "{{data.model}}" carplate = "{{data.carPlate}}"></product-article>
                </div>
             </div>
        </div>
    </div>
</div>