<div class = "container-login">
    <form method="POST" name = "logInForm" id = "logInForm">
        <div id = "top-form">
            <h2>Log In</h2>
        </div>
        <div class = "input">
            <h6 id = "input-username">Username</h6>
            <input required ng-model = "username" ng-pattern = "regUsername" type = "text" name = "username" id = "username" placeholder="Username" autocomplete="off"/>
        </div>
        <div class = "input">
            <h6 id = "input-password">Password</h6>
            <input required ng-model = "password" ng-pattern = "regPassword" type = "password" name = "password" id = "password" placeholder = "Password" autcomplete="off"/>
        </div>
        <div class = "input">
            <input ng-disabled = "logInForm.username.$invalid || logInForm.password.$invalid" type="submit" value = "Enter" id = "login-btn" ng-click = "logIn()"/>
        </div>
        <div class = "question">
            <p>You aren't registered? <a href="#/register" id = "register-btn">Click Here!</a></p>
        </div>
        <div class = "question">
            <p>Have you lost your password? <a href = "#/recover" id = "recover-btn">Click Here!</a></p>
        </div>
        <div class = "input">
            <input type="button" ng-click = "logInGoogle()" value = "Google" id = "social-btn"/>
            <input type="button" ng-click = "logInGitHub()" value = "Git Hub" id = "social-btn"/>
        </div>
    </form>
</div>